<p class="alert alert-warning text-center">
    <strong class="Fsize">Mobile Product</strong>
</p>

<div class="container">
    <div class="row">
        <div 
        *ngFor="let mobile of mobileProduct"
        class="col-12 mb-2">
            <div
            class="card mobilecard">
                <div
                [ngClass]="{
                    'availibilty':!mobile.isAvailable
                }"
                class="card-body bg-info text-white">
                <div class="row">
                    <div class="col-md-4">
                        <div class="imagContainer">
                            <img 
                            *ngIf="mobile.image; else noImage"
                            class="img-fluid" [src]="mobile.image" [alt]="mobile.name" [title]="mobile.name">
                            <ng-template #noImage>
                                <p class="d-flex justify-content-center">Product image is not available</p>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 class="mb-4">{{mobile.name}}
                            <small
                            [ngClass]="{
                                'bg-success':mobile.rating >=4,
                                'bg-warning':mobile.rating >=2 && mobile.rating<4,
                                'bg-danger':mobile.rating <2
                            }"
                            class="ml-2 p-1 text-white borderR">{{mobile.rating}}</small>
                        </h2>
                        <ul class="list-group text-dark">
                            <li
                            *ngFor="let feature of mobile.features"
                            class="list-group-item">
                            {{feature}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>Price ${{mobile.price}}</h3>
                        <p
                        *ngIf="mobile.noOfItems <=10"
                         class="text-warning text-size">
                          <strong>Only {{mobile.noOfItems}} are left</strong>
                        </p>
                    </div>
                </div>
            </div>
            <p 
            *ngIf="!mobile.isAvailable"
            class="customPara text-danger">
                Currently Product is not available
            </p>
            </div>
        </div>
    </div>
</div>