.Fsize{
    font-size: 32px;
}
.mobilecard{
    width: 100%;
    height: 100%;
    position: relative;
    .customPara{
        font-size: 25px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .availibilty{
        filter: blur(1px) grayscale(1);
    }
.imagContainer{
    img,p{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    p{
        align-items: center;
        background-color: rgb(185, 190, 190);
        font-weight: 500;
    }
}
.borderR{
    border-radius: 3px;
}
.text-size{
    font-size: 20px;
}
}